h2 {
  color: green;
}
body {
    padding-left:5%;
    background-color: lightgrey;
}
.message {
    border: 2px dotted;
    margin: 10px auto 10px auto;
}
textarea {
        width: 90vw;
        height: 20vh;
      }
.log{
width: 20vw;
        height: 5vh;
        margin-left: 70vw;
        margin-top: 2vw;

}
.login{

}