h2 {
  color: green;
}
body {
    padding-left:5%;
    background-color: lightgrey;
}
.message {
    border: 2px dotted;
    margin: 10px 5vw 10px 5vw;
}
textarea {
        width: 90vw;
        height: 20vh;
      }
.log{
width: 25vw;
        height: 8vh;
        margin-left: 65vw;
        margin-top: 2vw;

}
.login{

}